.hero-buttons li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(115deg,#F88000);
    background-size: 50% 100%;
    width: 200%;
    height: 100%;
}

.hero-buttons li {
    margin: 0 auto;
    width: calc(100% - 2.75rem);
    text-align: center;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
    color: red;
    display: block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
    cursor: pointer;
}

.hero-buttons li:hover:before { 
    background: linear-gradient(115deg,#F88000,#5643cc,#aaa);
    animation: SidebarCreate-module_rainbowSlide-feOE0 .75s linear infinite
}
@keyframes SidebarCreate-module_rainbowSlide-feOE0 {
    to {
        transform: translateX(-50%)
    }
}

.hero-buttons li div {
    position: relative;
    z-index: 2;
    padding: 0.875rem 0;
    font-size: 1.1rem;
    align-items: center;
    background: #000;
    border-radius: 3px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
}