.blog {
    background-color: black;
}

.blog .blog-header {
    position: relative;
    height: 35rem;
    width: 100%;
    background: rgb(0,0,0);
    @apply font-monaSans;
}

.blog .animated-button {
    margin: 0 auto;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    color: red;
    display: block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
    cursor: pointer;
    padding: 10px 0px;
}
.blog .animated-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(115deg,#F88000,#5643cc,#aaa);
    background-size: 50% 100%;
    width: 200%;
    height: 100%;
}

.blog .animated-button span {
    position: relative;
    z-index: 2;
    padding: 0.875rem 40px;
    font-size: 1.1rem;
    align-items: center;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}
.blog .animated-button:hover:before { 
    animation: SidebarCreate-module_rainbowSlide-feOE0 .75s linear infinite
}

@keyframes SidebarCreate-module_rainbowSlide-feOE0 {
    to {
        transform: translateX(-50%)
    }
}

.blog .blog-header .blog-header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 280px;
    background-position: center;
}
.blog .blog-header .blog-header-img.left {background-position: 10%;}
.blog .blog-header .blog-header-img.right {background-position: 90%;}

.blog .blog-header .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: inherit;
    color: white;
}

.blog .blog-header .content h2 {
    text-align: center;
    font-size: 2.4rem;
    max-width: 40%;
    text-transform: uppercase;
    margin-top: 20px;
}

.blog .blog-header .content .badge {
    background-color: #ddd;
    color: black;
    padding: 5px 30px;
    border-radius: 200px;
    font-size: .7rem;
    text-transform: uppercase;
}
.blog .blog-content {
    margin: 0px 100px;
}

.blog .blog-content .categories {
    margin-bottom: 40px;
    position: relative;
}
.blog .blog-content .categories .arrow-right {
    position: absolute;
    right: -34px;
    top: 21px;
    font-size: 2rem;
}
.blog .blog-content .categories ul {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0px;
}
.blog .blog-content .categories li {
    border: 1px solid black;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;

}
.blog .blog-content .categories li#active{
    background-color: #673FD7;
    color: white;
}
.blog .blog-content .categories li:hover {
    background-color: #673FD7;
    color: white;
    cursor: pointer;
}

.blog .blog-content .blogs-list {
    /* height: 200px; */
}


.blog .blogs-list ul.blogs {
    list-style: none;
    display: grid;
    margin-top: 50px;
    padding: 0px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
    margin-bottom: 20px;
}
.blog .blogs-list ul.blogs li {
    border-radius: 4px;
    background: #10151c;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.10); 
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    @apply font-monaSans;   
}
.blog .article-header {
    position: relative;
    height: 150px;
    padding: 20px;
}
.blog .article-header img {
    width: 100%;
    height: 100%;
}
.blog .article-header .badge {
    position: absolute;
    top: 11px;
    left: 15px;
    background: #FF5959;
    border-radius: 2px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .5px;
    font-weight: 700;
    color: white;
}

.blog .articles-content h6 {
    padding: 15px 15px 0px 15px;
    font-size: 16px;
    letter-spacing: 0.16px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: .8px;
    @apply font-roboto;
}

.blog .articles-content h6:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blog .articles-content .time {
    padding: 4px 15px 22px 15px;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFFFFF;
    @apply font-roboto;
}
.blog .article-author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 17px;
    gap: 8px;
    align-items: center;
}
.blog .article-author-image {
    margin: 0px 0px 0px 15px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog .article-author .author-title {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.12px;
    margin: 0px;
    @apply font-roboto;
}
.blog .article-author span {
    color: #FFFFFF;
    font-size: 8px;
    letter-spacing: 0.08px;
    font-weight: 500;
    @apply font-roboto;
}
.blog .article-author-information {
    display: flex;
    flex-direction: column;
    flex: 2;
}
.blog .article-author .arrow {
    width: 40px;
    height: 40px;
    background-color: #343434 !important;
}
.blog .article-author .parallelogram-bottom,
.blog .article-author .parallelogram-top {
    width: 9px;
    height: 8px;
}

.blog .articles-hashtags {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    padding: 10px 0px 0px 15px;
}
.blog .articles-hashtags a {
    background-color: #F2F2F2;
    font-size: 12px;
    border-radius: 6px;
    padding: 2px 8px;
    border-radius: 100px;
    @apply font-monaSans;
}